  <script src="http://maps.google.com/maps?file=api&v=2&key=ichbinkeinkey"
            type="text/javascript"></script>
  <script type="text/javascript">
  //<![CDATA[
  function karteladen() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("karte"));
      map.setCenter(new GLatLng(47.810001, 13.039999), 9);
    }
  }
  //]]>
  </script>
  </head>
  <body onload="karteladen()" onunload="GUnload()">
  <div id="karte" style="width: 500px; height: 300px"></div>