 
    body {
    font-family: Arial, sans-serif;
    
 
	
color:black;
    	   font-size: 12px;
  }
  
  .page {
    page-break-after: always; width:185mm;
   height:270mm;
  }
  .out{
	 display:block;
	 width:170mm;	
	 height:55mm;
  }
  .inner{
	  border-width: 1px;
	   border-style: dashed;
	   border-color: #eeeeee;
	  text-align: left;	
	height:100%;
    width: 49%;
    float:left;
}

.back > img {
   padding-top:1cm;
}
.code {
   position:relative;
   top:-42mm;
   left:49mm;
   width:22mm;
   height:22mm;

}
.front > h1 {
  color:#73844D;
       font-size: 24px;
     font-weight: bold;

}
.front > h2 {
      position:relative; 
	 left:20mm;
	 
	  color:#73844D;
       font-size: 20px;
     font-weight: bold;

}
.front > h3 {
    padding-top:16mm;
margin-bottom:0mm;
	   font-size: 14px;
     
     font-weight: bold;

}
.front > p {
   margin:0mm;
}
.back{
   position:relative;
   top:0%;
   left:0%;
   width:100%;
   height:100%;
}
.front{
   padding-left:5mm;
   padding-right:5mm;
   position:relative;
   top:-100%;
   left:0%;
   width:100%;
   height:100%;
}




  

  