
    input {
    font-family: Arial, sans-serif;
    font-size: 20px;
size: "28";
    
  }
      input[type="submit"] {
      margin-top:0em;
    font-family: Arial, sans-serif;
    font-size: 20px;
size: "28";
    
  }
  input[type="checkbox"] {
   /* All browsers except webkit*/
  transform: scale(2);

  /* Webkit browsers*/
  -webkit-transform: scale(2);
  margin-left: 16px;
  }
  input[type="checkbox"] + label  {
  margin-left: 20px;
   }
  
 a:link{color:#0000FF;}
 a:visited{color:#0000FF;}
 a:hover{color:#ffffff;}
 a:active{color:#ffffff;}
  
    body {
    font-family: Arial, sans-serif;
    font-size: 20px;
color:black;
background-color: #CC9900;
    
  }
  
  #content {
border:1px solid #ffffff;
background-color:#FFB200;
padding:5px;
color:#ffffff;
}
  
