#container {
	display: block;
}

@media only screen and (orientation:portrait) {
	#container {
		height: 100vw;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

#divid1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 60%;
	height: 0%;
	z-index: 1;
}

#divid2 {
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

@media only screen and (orientation:landscape) {
	#container {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.clearfix:after {
	display: block;
	clear: both;
}

/*----- Menu Outline -----*/
.menu-wrap {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #3e3436;
}

.menu {
	margin: 0px auto;
}

.menu li {
	margin: 0px;
	list-style: none;
	font-family: 'Arial';
	font-size: 10px;
}

.menu a {
	transition: all linear 0.15s;
	color: #919191;
}

.menu li>a {
	text-decoration: none;
}

.menu li:hover>a, .menu .current-item>a {
	color: #6D7F43;
}

.menu .arrow {
	font-size: 11px;
	line-height: 0%;
}

/*----- Top Level -----*/
.menu>ul {
	padding: 0px;
	margin: 0px;
}

.menu>ul>li {
	width: 100%;
	position: relative;
	font-size: 19px;
}

.menu>ul>li>a {
	padding: 0.68em;
	display: inline-block;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.menu>ul>li:hover>a, .menu>ul>.current-item>a {
	background: #2e2728;
}

.dlgcover {
	z-index: 10000;
	position: fixed;
	margin: 0px;
	padding: 0px;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.dlg {
	z-index: 10000;
	position: fixed;
	margin: 0px;
	padding: 0.1em;
	margin-top:15%;
	left: 25%;
	top: 0%;
	height:50%
    min-width:200px;
	width: 50%;
	a_____transform: translate(-50%, -50%) scale(1, 1);
	background-color: white;
}
#buydlg {
	width:70%;
	left:15%;
}
.dlghead 
{
	background: #CC9900;
	padding: 0.3em;
	padding-left: 0.7em;
	 font-weight: bold;

}
.dlgcontent {

	padding:0.7em;
	padding-top:1em;
	padding-bottom:1em;
}
.dlgcontenthtml {

	padding:0.7em;
	padding-top:1em;
	padding-bottom:1em;
}

.dlgbuttons {
	padding:.7em;

	
}
.dlg p {
	margin:0em;
}

.dlgbutton {
	min-width:5em;
}


body {
	font-family: 'Arial';
	
	background: #CC9900;
}